/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    font-family: "Roboto Mono";
    --ifm-font-family-base: "Roboto Mono";
    --ifm-color-primary: #242526;
    --ifm-color-primary-dark: #242526;
    --ifm-color-primary-darker: #242526;
    --ifm-color-primary-darkest: #242526;
    --ifm-color-primary-light: #242526;
    --ifm-color-primary-lighter: #242526;
    --ifm-color-primary-lightest: #242526;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --ifm-color-primary: white;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
