name: Build Status

on:
  push:
  pull_request:
  schedule:
    # run on sunday nights
    - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        # os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install yarn
      run: npm install -g yarn && mkdir -p pkg

    - name: Install dependencies
      run: |
        yarn

    - name: Lint
      run: |
        yarn lint

    - name: Build
      run: |
        yarn build

    - name: Test
      run: |
        yarn test
